<h1>Employees</h1>
<p class="homeLink"><a href="/home/">Home</a></p>

<div class='employeeList'>
    {{#each employees}}
    <form>
        <a href="/employees/{{_id}}">{{name}}</a>
    </form>
    {{/each}}
</div>

<a href="/employees/new">Add Employee</a>