<form method="POST" action='/location'>

    <label for="name">City</label>
    <input type="text" name="city" />

    <label for="date">State</label>
    <input type="text" name="state" />

    <label for="zipcode">Zipcode</label>
    <input type="text" name="zipcode" />

    <label>Currently Open</label>
    <input type="checkbox" name="currentlyOpen" value="true" />

    <input type="submit" value="Submit Location" />

</form>