<header>
    <h1>Cutie's House of Beauty</h1>
</header>

<div class="homeBackgroundContainer">

    <div class="home">
        <h3>
            <a href="/location/">Locations</a>
        </h3>

        <h3>
            <a href="/employees/">Employees</a>
        </h3>

        <h3>
            <a href="/reviews/">Reviews</a>
        </h3>
    </div>
    <div class="imageOne"></div>
    <div class="imageTwo"></div>
    <div class="imageThree"></div>

</div>