<h1>Reviews</h1>
<p class="homeLink"><a href="/home/">Home</a></p>

<div class='reviewsList'>
    {{#each reviews}}
    <form>
        <a href="/reviews/{{_id}}">{{name}}, {{locationAddress}}</a>
    </form>
    {{/each}}
</div>

<a href="/reviews/new">Add Review</a>