<h1>Reviews</h1>
<p class="homeLink"><a href="/home/">Home</a></p>

<div class='reviewsList'>
    {{#each reviews}}
    <form>
        <a class="all" href="/reviews/{{_id}}">{{locationAddress}}, {{date}}</a>
    </form>
    <br>
    <br>
    <br>
    {{/each}}
</div>
<br>
<a href="/reviews/new">Add Review</a>