<form method="POST" action='/reviews'>

    <label for="name">Name</label>
    <input type="text" name="name" />

    <label for="date">Date</label>
    <input type="date" name="date" />

    <label for="locationAdress">Location</label>
    <input type="text" name="locationAddress" />

    <label for="review">Review</label>
    <input type="text" name="review" />

    <input type="submit" value="Submit Review" />

</form>